version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: hris_database
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=hris_database
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: hris_backend
    ports:
      - '5000:5000'
    depends_on:
      - db
    environment:
      DATABASE_URL: 'postgresql://user:password@db:5432/hris_database?schema=public'
      PORT: 5000
      JWT_SECRET: 'rahasia_negara_telkom'
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: hris_frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: 'http://backend:5000'
    volumes:
      - ./frontend:/app
      - /app/node_modules

  adminer:
    image: adminer
    restart: always
    ports:
      - '8080:8080'
    depends_on:
      - db

volumes:
  pgdata:
